<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <title>Written Test</title>
        <style>
            .center {
                margin-left: auto;
                margin-right: auto;
                }
            table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                  vertical-align: top;
                }
        </style>
    </head>

    <body>
        <form method="post">
            <table class="center" style="width:1024px">
                <tr>
                    <td style="width:5%"><label>Q{{ ques_num }}.</label>></td>
                    <td style="width:95%"><label>{{ question }}</label><br><br></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <input class="radio-inline" type="radio" id="choice_1" name="answer" value="1"
                                   {{'checked' if existing_ans=='1' else ''}}>
                            <label class="control-label" for="choice_1">&nbsp;&nbsp;&nbsp;&nbsp;A.&nbsp;&nbsp;{{ choice_1 }}</label><br>

                            <input class="radio-inline" type="radio" id="choice_2" name="answer" value="2"
                                   {{'checked' if existing_ans=='2' else ''}}>
                            <label class="control-label" for="choice_2">&nbsp;&nbsp;&nbsp;&nbsp;B.&nbsp;&nbsp;{{ choice_2 }}</label><br>

                            <input class="radio-inline" type="radio" id="choice_3" name="answer" value="3"
                                   {{'checked' if existing_ans=='3' else ''}}>
                            <label class="control-label" for="choice_3">&nbsp;&nbsp;&nbsp;&nbsp;C.&nbsp;&nbsp;{{ choice_3 }}</label><br>

                            <input class="radio-inline" type="radio" id="choice_4" name="answer" value="4"
                                   {{'checked' if existing_ans=='4' else ''}}>
                            <label class="control-label" for="choice_4">&nbsp;&nbsp;&nbsp;&nbsp;D.&nbsp;&nbsp;{{ choice_4 }}</label><br>
                        </div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% if path_image %}
                        <img src={{ path_image }} style="height: 300px; width: 400px;">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="direction" value="prev">上一題 Prev</button>
                        <button type="submit" name="direction" value="next">下一題 Next</button>
                        <div align="right" >
                            <button type="submit" name="save" value="save">儲存答案至伺服器 Save</button>
                            <button type="submit" name="finish" value="finish">結束 Finish</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <div class="center" style="width:1024px">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        </div>
    </body>
</html>